*{
    text-align: center;
    /* background-repeat: no-repeat; */
    background-size:full;
    margin:0.5em;
}
.poster-signin{
    background-image:url("https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-business-technology-digital-high-tech-world-background-backgroundtechnology-backgroundhigh-tech-backgroundworld-image_79012.jpg");
   
    align-items: center;
    width: 100%;
    padding:10em 0 10em 0;
}



#position {
    font-size: 1rem;
}

h2{
    padding: 20px;
}


  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .cols {
      width: 100%;
      display: flexbox;
      margin-bottom: 20px;
    }
  }

.form{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" 
      effect */
      padding: 16px;
    
    background-color: rgb(250, 250, 250);
    border-radius: 20px;
    width: 75%;
    margin:auto;
    height:30%
}
